*{
  margin:0auto;
  padding:0px;
  box-sizing:border-box;
}

.container{
  
  background-color: whitesmoke;
  padding:40px 20px;
  margin:0 auto;
  height:470px;
  width:370px;
  border-radius:10px;
}
.header{
  background-color: white;
  text-align: center;
  height:362px;
  margin:5px 5px;
  padding:20px 20px;
  border:5px solid whitesmoke;
  border-radius:10px;
  
}

#user-name{
  height:35px;
  width:90%;
  margin:5px 5px;
  padding:10px;
  border-radius:10px;
  border:0.5px solid gray;
  
  
}

#password{
  height:35px;
  width:90%;
  margin:5px 5px;
  padding:10px;
  border-radius:10px;
  border:0.5px solid gray;
}
#login{
  height:35px;
  width:90%;
  margin:15px 10px;
  background-color: royalblue;
  padding:10px;
  color: white;
  border: none;
  border-radius:10px;
}

#Demo-Login{
  height:60px;
  width:90%;
  margin:5px 5px;
  background-color: whitesmoke;
  border:none;
  border:5px solid whitesmoke;
  border-radius:10px;
  
  
}